{% extends 'base/layout.html' %}
{% load buttons %}
{% load render_table from django_tables2 %}
{% load static %}
{% load perms %}
{% load helpers %}

{% block title %}Topology Views{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'netbox_topology_views/css/vendor.css' %}">
<link rel="stylesheet" href="{% static 'netbox_topology_views/css/app.css' %}">
{% endblock %} 

{% block controls %}
  <div class="controls">
    	<div class="control-group">
			{% block extra_controls %}{% endblock %}
			<a id="btnDownloadImage" class="btn btn-sm btn-info">
				<i class="mdi mdi-download"></i>
				Download
			</a>
    	</div>
	</div>
{% endblock controls %}

{% block content-wrapper %}
  <div class="tab-pane show active">
    <div class="panel-body">
      <div id="visgraph"></div>
    </div>
  </div>
{% endblock content-wrapper %}

{% block javascript %}
  <script type="text/javascript">
    const topologyData = {{ topology_data | safe }};
  </script>
  <script src="{% static 'netbox_topology_views/js/vendor.js' %}"></script>
	<script src="{% static 'netbox_topology_views/js/app.js' %}"></script>
{% endblock javascript %}
